/* Estilos base y generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
}

/* Estilos para el menú principal */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Esto hace que los elementos del menú principal estén en línea */
    justify-content: center; /* Centra el menú principal horizontalmente */
    background: #333; /* Color de fondo del menú principal */
}

nav ul li {
    position: relative; /* Posición relativa para posicionar el submenú respecto a estos ítems */
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white; /* Color del texto de los ítems del menú principal */
    text-decoration: none;
}

nav ul li a:hover {
    background: #555; /* Color de fondo al hacer hover sobre ítems del menú principal */
}

/* Estilos para el submenú para asegurar que se despliegue en columna */
.submenu {
    display: none; /* Oculto inicialmente, se muestra en interacción, posiblemente con JS */
    position: absolute;
    left: 0; /* Alineación directa debajo del ítem del menú principal */
    top: 100%; /* Se posiciona justo debajo del elemento del menú principal */
    background-color: #f8f8f8; /* Fondo blanco roto */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.submenu ul li {
    display: block; /* Cada elemento del submenú se muestra en su propia línea, formando una columna */
}

.submenu ul li a {
    color: #333; /* Color del texto */
    padding: 12px 16px;
    text-decoration: none;
    display: block; /* Hace que el enlace ocupe toda la línea */
}

.submenu ul li a:hover {
    background-color: #e6e6e6; /* Color de fondo para el hover */
}

/* Footer y Social Media Icons ajustes */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media {
    text-align: center;
    padding: 20px 0;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
}

.social-media a i {
    font-size: 24px; /* Tamaño de los íconos */
}
